<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    hello world ejs node mon
    <div>
        <img src="/images/anh.png" alt="hinh">
    </div>
    <div><img class="anh2" src="/images/anh.png" alt=""></div>
</body>

</html>